.information {
	background-color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.information__wrap {
	background-image: url(../../img/information/back.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.information__title {
	font-family: "Literata";
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 100%;
	color: #1c1c1c;
	margin: 0 0 50px;
	text-align: center;
}

.information__text-wrap {
	max-width: 735px;
}

.information__text {
	font-family: "Spartan";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: #000000;
	margin: 0 0 23px;
}

.information__btn {
	margin-top: 60px;
}

.information__incide {
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

.information_img {
	margin-left: auto;
	position: relative;
}

.information_img > img {
	position: relative;
	z-index: 2;
}

.information_img::before {
	content: "";
	width: 450px;
	height: 200px;
	background: #4771ff;
	border-radius: 20px;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.information_img::after {
	content: "";
	position: absolute;
	width: 286px;
	height: 286px;
	background: #4771ff;
	opacity: 0.2;
	filter: blur(50px);
	border-radius: 268px;
	right: 136px;
	bottom: 172px;
}
